/* VARIABLES */
:root
{
    --primary-bg-color: #1abc9c;
    --secondary-bg-color: #2c3e50;
    --primary-text-color: white;
}

/* COMMON */
img
{
    width: 100%;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li
{
    display: inline-block;
    padding: 0 5px;
}

li a
{
    text-decoration: none;
    color: inherit;
}

section
{
    padding: 2.5rem 0;
}

section:nth-of-type(odd)
{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

.ms_small_container
{
    max-width: 70%;
    margin: 0 auto;
}

.ms_title
{
    margin-bottom: 1rem;
    text-align: center;
}

/* HEADER */
header
{
    height: 80px;
    background-color: var(--secondary-bg-color);
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
}

.logo
{
    font-size: 20px;
    font-weight: bold;
}

header nav
{
    text-align: right;
}

/* MAIN */
/* jumbotron */
.ms_jumbotron_content
{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ms_avatar
{
    width: 200px;
}

.ms_jumbotron li
{
    padding: 0;
}

#ms_divider::before
{
    content: '-';
}

#ms_divider::after
{
    content: '-';
}

/* about*/
.ms_btn
{
    text-align: center;
    margin-top: 2rem;
}

/* contact */
.ms_info>div
{
    border-bottom: 1px solid lightgray;
    padding: 5px 0;
}

.ms_info>div:last-child
{
    padding: 10px 0 90px;
}

/* FOOTER */
footer
{
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    padding: 2.5rem 0;
}