/* VARIABLES */
:root
{
    --primary-bg-color: #1abc9c;
    --secondary-bg-color: #2c3e50;
    --primary-text-color: white;
}

/* COMMON */
img
{
    width: 100%;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li
{
    display: inline-block;
    padding: 0 5px;
}

li a
{
    text-decoration: none;
    color: inherit;
}

section
{
    padding: 2.5rem 0;
}

section.bg_green
{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

.ms_small_container
{
    width: 70%;
    max-width: 1170px;
    margin: 0 auto;
}

.ms_title
{
    margin-bottom: 1rem;
    text-align: center;
}

.ms_star
{
    font-size: 1.5rem;
}

.ms_star::before,
.ms_star::after
{
    content: '';
    width: 5rem;
    height: 4px;
    background-color: black;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
}

.bg_green .ms_star::before,
.bg_green .ms_star::after
{
    background-color: white;
}

/* HEADER */
header
{
    height: 80px;
    background-color: var(--secondary-bg-color);
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
}

.brand
{
    font-size: 20px;
    font-weight: bold;
}

header nav
{
    text-align: right;
}

/* MAIN */
/* jumbotron */
.ms_jumbotron_content
{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ms_avatar
{
    width: 200px;
}

.ms_jumbotron_content li
{
    padding: 0;
}

#ms_divider::before
{
    content: '-';
}

#ms_divider::after
{
    content: '-';
}

/* about*/
.ms_btn
{
    margin-top: 2rem;
}

#about .ms_btn
{
    text-align: center;
}

/* Contact */
/* form style */
input.form-control,
textarea.form-control
{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 18px;
    padding: 10px;
}

input.form-control:focus,
textarea.form-control:focus
{
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid lightgray;
    box-shadow: none;
}

.ms_btn_color
{
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
}

/* FOOTER */
footer
{
    color: var(--primary-text-color);
}

/* footer top */
.footer-top
{
    padding: 2.5rem 0;
    background-color: #3b546d;
}

.footer-col-content
{
    text-align: center;
}


.ms_social_icons
{
    font-size: 1.5rem;
}

.ms_circle
{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50px;
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
}

.ms_link
{
    color: #1abc9c;
    text-decoration: none;
}

/* footer bottom */
.footer-bottom
{
    padding: 2.5rem 0;
    background-color: #2d3e4f;
}

@media screen and (min-width:992px) {

    .ms_star::before,
    .ms_star::after
    {
        content: '';
        width: 7rem;
        height: 4px;
        background-color: black;
        display: inline-block;
        vertical-align: middle;
        border-radius: 10px;
    }
}